:root{
  --color-text: #306d1f;
  --color-text-light: #4aac63;
  --color-text-lighter: #ddffe6;
  /* --color-text: #8fbb1c; */
  
  /* color: #337744; */
}

body{
  background: url("../images/banners/header.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.container-header{
  width: 100%;
  margin-top: 45px;
  padding: 0 24px 0 24px;
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  grid-template-areas: "enterprise logo client";
}

.enterprise-area{
  grid-area: enterprise;
  text-align: initial;
  align-self: flex-end;
  justify-content: space-between;

}

.div-logo{
  grid-area: logo;
  width: 100%;
  margin: 0;
  text-align: center;
}

.client-area{
  grid-area: client;
  text-align: end;
  align-self: flex-end;
  justify-content: space-between;
}

.container-header a{
  margin: auto;
  font-family: 'Barlow-Light';
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
}

.logo{
  width: 75%;
}

.tag-icon{
  width: 8%;
  margin-left: 15px ;
  transition: transform 0.3s;
}

.tag-icon:hover{
  transform: scale(1.3);
}

.carousel{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.groups{
  width: auto;
  height: 80px;
  margin: 0 85px 0 85px;
  padding: 10px;

  display: block;
  text-align: center;
  /* justify-items: space-between; */
  
}

.groups img{
  cursor: pointer;
  width: 60px;
  transition: transform 0.2s;
}

.groups img:hover{
  transform: scale(1.3);
}

.tab_navigation{
  padding: 0;
  margin: 0;
  list-style: none;
}

.tab_navigation li{
  display: inline;
  justify-content: space-between;
  padding: 5px 15px;
  min-width: 100px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tab_navigation li.active img{
  border: 1px solid var(--color-text);
  border-radius: 5px;
  transform: scale(1.3);
}

.cards{
  margin: 24px;
}

#card{
  margin-bottom: 30px;
}

.card{
  text-align: center;
  background-color: var(--color-text-lighter);
}

.card-title{
  color: var(--color-text);
}

.card-price{
  color: tomato;
}

.card-price span{
  font-size: 50%;
}

.add-cart{
  width: 50%;
}

.cards button img{
  width: 20px;
}

/* Retirar as setas no input do tipo number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.modal-header{
  padding-left: 0 !important;
}

.modal-title{
  font-size: 25px;
}

.modal-content{
  background: #f0f0f0;
  color: var(--color-text);
  padding: 30px;
}

#login input{
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  font-size: 17px;
  border-bottom: 1px solid var(--color-text); 
  transition: all 0.3s ease;
}

#login input:focus{
  border-bottom: 3px solid var(--color-text);
  outline: 0;
}

#login label{
  /* bottom: 10px; */
  color: var(--color-text);
  /* transition: all 0.3s ease; */
}

.modal-footer button{
  border-radius: 5px;
  transition: transform 0.3s;
}

.modal-footer button:hover{
  transform: scale(1.05);
}

#hello{
  margin-bottom: 15px;
  color: var(--color-text);
}

